/* Body */
body {
	background-color: #70665d;
	color: #000000;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

/* Navigation */
.nav {
	background-color: #000000;
	color: #ada6ac;
	list-style: none;
	margin: 0;
	text-align: center;
	padding: 20px 0 20px 0;
}

.nav li {
	display: inline-block;
	padding: 0 25px 0 25px;
}

.nav li a {
	text-decoration: none;
	color: #ada6ac;
}

.nav a:hover {
	color: #658262;
}

/* Header */
header {
	text-align: center;
	padding: 50px 0 50px 0;
}

.alt {
	padding: 0px;
}

/* Index Containers */
.container {
	text-align: center;
	padding: 100px 50px 100px 50px;
	color: #000000;
}

#feature-image1 {
	background-image: url("https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=aff2bf56593d08c8fdda8de3eced4910");
	background-repeat: no-repeat;
	background-size: cover;
}

#feature-image2 {
	background-image: url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=3f9c78df0edb464244bbabb04d1797d8");
	background-repeat: no-repeat;
	background-size: cover;
}

#feature-image3 {
	background-image: url("https://images.unsplash.com/photo-1447023029226-ef8f6b52e3ea?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=36db41ace938e987e1f7f8b51c05001e");
	background-repeat: no-repeat;
	background-size: cover;
}

#call-to-action a {
	text-decoration: none;
}

.container a {
	color: #000000;
}

.container a:hover {
	color: #ada6ac;
}

/* Courses Container */

#courses {
	padding: 0;
}

.column1 {
	display: inline-block;
	width: 25%;
	float: left;
}

.column2 {
	display: inline-block;
	width: 25%;
	float: left;
}

.column3 {
	display: inline-block;
	width: 25%;
	float: left;
}

.column4 {
	display: inline-block;
	width: 25%;
	float: left;
}

/* Blog Container */

#blog {
	padding-top: 0;
	text-align: left;
	margin: 20px;
}

/* Contact Container */

#contact {
	padding-top: 0;
}

/* Footer */
.footer {
	background-color: #3f171a;
	color: #ada6ac;
	padding: 8px 0 8px 0;
	list-style: none;
	margin: 0px;
	text-align: center;
	float: left;
	width: 100%;
}

.footer li {
	display: inline-block;
	padding: 0 25px 0 25px;
}

.footer li a {
	text-decoration: none;
	color: #ada6ac;
}

.footer a:hover {
	color: #658262;
}


