/* Body */
body {
	background-color: #0C7489;
	margin: 0;
	padding: 0;
	font-family: 'Arial', serif;
}

/* Navigation */
.nav {
	background-color: #040404;
	color: #d7d9ce;
	list-style: none;
	margin: 0;
	text-align: center;
	padding: 20px 0 20px 0;
}

.nav li {
	display: inline-block;
	padding: 0 25px 0 25px;
}

.nav li a {
	text-decoration: none;
	color: #d7d9ce;
}

.nav a:hover {
	color: #c1c1c1;
}

/* Header */
header {
	text-align: center;
	padding: 50px 0 50px 0;
}

.alt {
	padding: 0px;
}

/* Index Containers */
.container {
	text-align: center;
	padding: 100px 0 100px 0;
}

#feature-image1 {
	background-image: url("https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=aff2bf56593d08c8fdda8de3eced4910");
}

#feature-image2 {
	background-image: url("https://images.unsplash.com/photo-1442876906995-6761040d1f0b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8fc848dd82f0837198328c1c2a81ef51");
}

#feature-image3 {
	background-image: url("https://images.unsplash.com/photo-1447023029226-ef8f6b52e3ea?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=36db41ace938e987e1f7f8b51c05001e");
}

#call-to-action a {
	text-decoration: none;
	color: #d7d9ce;
}

.container a:hover {
	color: #c1c1c1;
}

/* Paths Container */

#learningpaths {
	padding-top: 0;
} 

/* Paths Table */

table {
	margin: auto;
}

table tr td {
	border: 2px solid black;
	text-align: center;
}

table tr td ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Courses Container */

#courses {
	padding-top: 0;
}

/* Blog Container */

#blog {
	padding-top: 0;
	text-align: left;
	margin: 20px;
}

/* Contact Container */

#contact {
	padding-top: 0;
}

/* Footer */
.footer {
	background-color: #d7d9c3;
	padding: 8px 0 8px 0;
	list-style: none;
	margin: 0px;
	text-align: center;
}

.footer li {
	display: inline-block;
	padding: 0 25px 0 25px;
}

.footer li a {
	text-decoration: none;
	color: #040404;
}

.footer a:hover {
	color: #13505b;
}


